<html lang="en">
  <head>
    <%- include ("./partials/head") %>
  </head>

  <link rel="stylesheet" href="/public/css/style.css" />
  <body>
    <%- include ("./partials/header") %> <%- body %>
    <%-include("./partials/scripts") %>
  </body>
</html>
<footer><%- include ("./partials/footer") %></footer>
